<mat-toolbar color="primary">
    <mat-icon>medical_information</mat-icon>
    <span>Hospital Los Ángeles</span>
    <span class="posicion_botones"></span>
    <button mat-button routerLink="/dashboard/medicos">Médicos</button>
    <button mat-button routerLink="/dashboard/pacientes">Pacientes</button>
    <button mat-button routerLink="/dashboard/laboratorios">Laboratorios</button>
    <button mat-button routerLink="/dashboard/especialidades">Especialistas</button>
    <button mat-button routerLink="/dashboard/consultas">Consultas</button>
    <span class="posicion_botones"></span>
    <mat-icon>logout</mat-icon>
</mat-toolbar>
