
$primary: #3f51b5;
$danger: #ff6836;
$warning: #ffc107;
$gray-900: #212529;
$white:    #fff;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "warning": $warning,
  "dark": $gray-900,
  "white": $white
);


@import "../../node_modules/bootstrap/scss/bootstrap";
