@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$primary: #3f51b5;
$danger: #ff4736;
$warning: #ffc107;
$gray-900: #212529;
$success: #4eba5d;

$custom-colors: (
  "primary": $primary,
  "danger": $danger,
  "warning": $warning,
  "dark": $gray-900,
  "success": $success
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";
