<div class="toolbar_formato">
    <mat-toolbar>
      <span>Consultas</span>
    </mat-toolbar>
    <!--Botones para redireccionar-->
    <mat-toolbar color="primary">
        <button
            class="button"
            mat-button
            (click)="onChangeView()"
            [disabled]="!view"
        >
        Registrar
        </button>
    
        <button
            class="button"
            mat-button
            (click)="onChangeView()"
            [disabled]="view"
        >
        Ver Lista
        </button>
    </mat-toolbar>
    <!--Tabla(para mientras)-->
    <br />
    <ng-template [ngIf]="view">
      <div class="w-75">
        <table 
          class="table table-primary table-striped "
          mat-table
          [dataSource]="dataSource" 
        >
        <ng-container matColumnDef="id_consulta">
            <th mat-header-cell *matHeaderCellDef>ID Consulta</th>
            <td mat-cell *matCellDef="let element"> {{element.id_consulta}} </td>
        </ng-container>
  
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>
  
        <ng-container matColumnDef="num_consultorio">
            <th mat-header-cell *matHeaderCellDef> No. Consultorio </th>
            <td mat-cell *matCellDef="let element"> {{element.num_consultorio}} </td>
        </ng-container>
  
        <ng-container matColumnDef="id_especialidad">
            <th mat-header-cell *matHeaderCellDef> ID Especialidad </th>
            <td mat-cell *matCellDef="let element">{{element.id_especialidad}}</td>
        </ng-container>
  
        <ng-container matColumnDef="id_medico">
            <th mat-header-cell *matHeaderCellDef> ID Médico</th>
            <td mat-cell *matCellDef="let element"> {{element.id_medico}} </td>
        </ng-container>

        <ng-container matColumnDef="id_paciente">
            <th mat-header-cell *matHeaderCellDef> ID Paciente</th>
            <td mat-cell *matCellDef="let element"> {{element.id_paciente}} 
              <div style="text-align: right;" >
                <button  mat-raised-button color="warn">Eliminar</button>
                <button mat-raised-button color="primary">Editar</button>
              </div>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </ng-template>

    <!-- ng else -->
    <ng-template [ngIf]="!view">
      <div class="w-50 border p-4 border-5 rounded-2">
        <h3 class="text-center">Registro de Consultas</h3>
        <form class="px-4" [formGroup]="form" (ngSubmit)="created()">

          <!--INPUT-->
          <div class="row">
            <mat-form-field>
              <input
                matInput
                required
                placeholder="Id Consulta"
                autocomplete="off"
                formControlName="id_consulta"
              />
            </mat-form-field>
          </div>
          
          <div class="row">
            <mat-form-field>
              <input
                matInput
                required
                placeholder="Fecha (dd/mm/yy)"
                autocomplete="off"
                formControlName="fecha"
              />
            </mat-form-field>
          </div>
  
          <div class="row">
            <mat-form-field>
              <input
                matInput
                required
                placeholder="No. Consultorio"
                autocomplete="off"
                formControlName="num_consultorio"
              />
            </mat-form-field>
          </div>
  
          <div class="row">
            <mat-form-field>
              <input
                matInput
                required
                placeholder="ID Especialidad"
                autocomplete="off"
                formControlName="id_especialidad"
              />
            </mat-form-field>
          </div>
  
          <div class="row">
            <mat-form-field>
              <input
                matInput
                required
                placeholder="ID Médico"
                autocomplete="off"
                formControlName="id_medico"
              />
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field>
              <input
                matInput
                required
                placeholder="ID Paciente"
                autocomplete="off"
                formControlName="id_paciente"
              />
            </mat-form-field>
          </div>
  
            <div class="row px-4 toolbar_formato">
                <button
                mat-raised-button
                color="primary"
                class="cpb w-50"
                type="submit"
                >
                    Agregrar
                </button>
            </div>
        </form>
      </div>
    </ng-template>
</div>