@import './custom/custom-boostrap.scss';


body{
  background-color: #fff3cd38;
}
.box-shadow-custom{
  box-shadow: 9px 7px 0px 0px rgba(0,0,0,0.59);
  -webkit-box-shadow: 9px 7px 0px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 9px 7px 0px 0px rgba(0,0,0,0.59);
}
